ul {
 list-style: none;
 padding: 0;
 margin: 0;
}

a {
  text-decoration: none;
  color: rgb(104, 59, 59);
}

.spacer {
  flex: 1 1 auto;
}

ul {
  display: flex;
}

table {
  width: 100%;
}