<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
      <mat-form-field>
        <input matInput type="email" placeholder="E-Mail" name="email" 
        ngModel #emailInput="ngModel" required email>
      </mat-form-field>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
      
      <mat-form-field>
        <input matInput name="password" ngModel #passwordInout="ngModel" type="password" placeholder="Password">
      </mat-form-field>
      <mat-error *ngIf="passwordInout.invalid">Please enter a valid Password</mat-error>

      <mat-radio-group aria-label="Select an option" name="userType" ngModel #favoriteSeason="ngModel">
        <mat-radio-button value="1">Customer</mat-radio-button>
        <mat-radio-button value="2">Employee</mat-radio-button>
      </mat-radio-group>
      
      <button color="accent" *ngIf="!isLoading"
      mat-raised-button type="submit">Login</button>
    </form>
  </mat-card>
  